* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: gray;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  background: #fff;
  cursor: pointer;
}

.main-nav {
  display: none;
}

.intro {
  background-image: url(./images/header-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  border-bottom-left-radius: 100px;
  background-color: #fff;
  padding: 84px 20px;
  margin-bottom: 50px;
}

.hero {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: static;
  margin-bottom: 12px;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 800;
  display: flex;
  align-items: center;
  max-width: 190px;
}

.hero p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  max-width: 350px;
}

.link {
  display: flex;
  flex-direction: column;
  color: #505f79;
  margin-bottom: 12px;
}

.connect-txt {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

.connect-txt a {
  color: #7f8cff;
  text-decoration: none;
}

.connect {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  align-items: center;
}

.connect li {
  display: flex;
}

.margin-bottom {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}

.projects {
  display: grid;
  max-width: 200px;
  margin: 0 auto;
}

.card {
  padding: 16px 20px;
  margin-bottom: 60px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  margin-top: 90px;
}

.card-img {
  height: 295px;
  border-radius: 8px;
}

ul {
  list-style: none;
}

.header-two {
  font-weight: 700;
}

.tonic-items {
  padding-top: 20px;
  display: flex;
}

.tonic ul {
  margin-bottom: 30px;
  display: flex;
}

.tonic h2 {
  animation-name: rainbow;
  animation-duration: 12s;
}

@keyframes rainbow {
  from {
    color: red;
  }
  to {
    color: yellow;
  }
}

.experties li {
  margin-top: 20px;
}

.card h2 {
  color: #344563;
}

.tonic-txt {
  color: #344563;
}

.jhc li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(247, 247, 249, 1);
  width: 315px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 5px;
}

.tonic ul li {
  list-style-type: disc;
  color: gray;
  padding-right: 30px;
}

.tonic ul .blc {
  color: #344563;
  font-weight: 500;
  list-style: none;
}

.tags-lists {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.tags-lists a {
  display: flex;
}

button:hover {
  color: white;
  background-color: #7f8cff;
}

button:active {
  color: white;
  background-color: #2230d2;
}

button:disabled,
button[disabled] {
  color: #172b4d;
  background-color: white;
}

.fir {
  padding: 4px 9px;
  background: rgba(235, 235, 255, 1);
  border-radius: 10px;
  margin-left: 5px;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  color: rgba(96, 112, 255, 1);
}

.rail {
  padding: 4px 9px;
  background: rgba(235, 235, 255, 1);
  border-radius: 10px;
  margin-left: 5px;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  color: rgba(96, 112, 255, 1);
}

.sec {
  padding: 4px 9px;
  background: rgba(235, 235, 255, 1);
  border-radius: 10px;
  margin-left: 10px;
  list-style: none;
  color: rgba(96, 112, 255, 1);
  font-size: 12px;
  font-weight: 500;
}

.third {
  padding: 4px 9px;
  background: rgba(235, 235, 255, 1);
  border-radius: 10px;
  margin-left: 10px;
  list-style: none;
  color: rgba(96, 112, 255, 1);
  font-size: 12px;
  font-weight: 500;
}

button {
  padding: 18px 12px;
  background: #fff;
  border-radius: 10px;
  margin-top: 26px;
  list-style: none;
  color: rgba(96, 112, 255, 1);
  border: 1px solid #7f8cff;
  font-weight: 500;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  line-height: 24px;
}

.img-fix {
  width: 355px;
  height: 260px;
}

.background-fix {
  background: rgba(255, 255, 255, 1);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
}

.about-txt {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
}

.btn-resume {
  list-style: none;
  color: rgba(96, 112, 255, 1);
  border: 1px solid #7f8cff;
  font-weight: 500;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  max-width: 140px;
  padding: 10px;
  margin-bottom: 5px;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.txt-bold {
  font-weight: 500 !important;
}

.experties {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

.lango {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-bottom: 30px;
}

.rotate .lango img {
  transform: rotateZ(90deg);
}

span {
  padding-left: 20px;
}

.jhc {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-left: 20px;
  margin-bottom: 0;
}

.about-me {
  height: auto;
  margin-bottom: 0;
  padding: 20px;
  padding-top: 100px;
}

footer {
  background-color: #fff;
  padding-top: 6.2rem;
}

.form-container {
  background-image: url("./images/footer-bg.svg");
  height: 90%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  align-items: center;
  border-top-left-radius: 80px 80px;
  background-color: #6070ff;
}

.form-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-top: 10rem;
}

.form-p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0.5rem 3rem 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 1rem;
}

.inputs {
  width: 100%;
  border-radius: 8px;
  border-style: none;
  padding: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn-submit {
  border-radius: 8px;
  border-style: none;
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: #7f8cff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 2rem;
}

::placeholder {
  color: #b3bac5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.btn-submit:hover {
  color: white;
  background-color: #7f8cff;
  box-shadow: 16px 56px 40px -22px rgba(96, 111, 255, 0.1);
}

.btn-submit:active {
  color: white;
  background-color: #2230d2;
}

.btn-submit:disabled,
.btn-submit[disabled] {
  color: #172b4d;
  background-color: white;
}

.main-nav a {
  color: #344563;
}

@media only screen and (min-width: 992px) {
  body {
    margin: 0 auto;
  }

  header {
    display: flex;
  }

  .logo {
    margin-left: 8em;
  }

  nav {
    width: 30%;
  }

  .humberger {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 8em;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .hero h1 {
    max-width: 400px;
  }

  .hero p {
    max-width: 750px;
  }

  .connect {
    max-width: 25%;
  }

  .projects {
    min-width: 80vw;
    gap: 70px;
    margin-bottom: 70px;
    margin-top: 70px;
  }

  .card {
    display: flex;
    margin: 24px;
    height: 496px;
    width: 1156px;
  }

  .card-img {
    width: 544px;
    height: 448px;
    padding: 10px;
  }

  .img2 {
    order: 2;
  }

  .img4 {
    order: 1;
  }

  .dsk-wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 5px 20px;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 30px 60px 140px;
  }

  .experties {
    max-width: 200px;
  }

  .lango {
    width: 500px;
  }

  .jhc {
    flex-direction: row;
    width: 350px;
  }

  .jhc li {
    width: 300px;
    flex-direction: column;
    margin-left: 10px;
    align-items: flex-start;
  }

  .jhc span {
    padding: 0;
  }

  .form-container {
    background-size: 40% 70%;
  }

  .form-title {
    font-size: 50px;
    padding-top: 70px;
  }

  .form-p {
    font-size: 20px;
    line-height: 28px;
    padding: 10px 0;
    font-weight: normal;
  }

  .form {
    width: 447px;
  }

  .btn-submit {
    align-self: center;
    margin-bottom: 70px;
  }
}
